* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 0 150px;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 75px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 500;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

nav a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

header {
    display: flex;
    height: 50vh;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 100px;
    background-color: #1f2937;
}

.header-title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.header-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
    font-size: 18px;
    color: #e5e7eb;
}

.header-info button {
    background-color: #3882f6;
}

header img {
    flex: 1;
}

.information-section {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.images {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.info-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.info-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 175px;
    text-align: center;
}

.info-box img {
    width: 175px;
    height: 175px;
}

.quote-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    background-color: #e5e7eb;
}

.quote-author {
    align-self: flex-end;
}

.quote {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
}

.sign-up-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: 30vh;
}

.sign-up-box {
    background-color: #3882f6;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    background-color: #1f2937;
}